<!DOCTYPE html>
<html>
<head>
	<title>Sample Web Page</title>
</head>
<body>

	<form action="/" method="post" accept-charset="utf-8">
		<label for="name_id">Name (4 to 8 characters):</label>
		<input type="text" id="name_id" name="name_field" required
		       minlength="4" maxlength="8" size="10">

		<label for="cipher_len_id">Cipher Length (2 characters):</label>
		<input type="text" id="cipher_len_id" name="cipher_len" required
		       minlength="1" size="2">

		<button type="submit"> Submit </button>
	</form>

</body>
</html>